<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
<!-- Меню навигации -->
<nav>
    <a href="/" class="nav-link">Главная</a>
    <a href="/about" class="nav-link">О нас</a>
    <a href="/contacts" class="nav-link">Контакты</a>
</nav>

<!-- Контейнер для динамического контента -->
<div id="content">
    <h1><%= message %></h1>
    <p>Это простая страница, созданная на Node.js.</p>
</div>

</body>
</html>
